@mixin header_icon {
    margin:2px 12px;
    padding:3px;
    height: 26px;
    border-radius: 5px;
    background-color: #ffffff;
}

@mixin footer_menu_layout($flex_justify,$width) {
  display:flex;
  flex-direction: column;
  justify-content: $flex_justify;
  background-color:$primary_color;
  width: $width;
  padding: 10px 50px;
}

@mixin mobileView($card_width,$card_bottom_margin,$float_margin_left,$float_width,$top,
$flex_footer_top_first:column,$flex_footer_top_second:column,$footer_bottom:2141%,$footer_title_span_left:135px) {
    .mobile_menu_icon{
        display:block;
        .fa{
          color:#ffffff;
          cursor: pointer;
        }
      .mobile_menu{
        position: absolute;
        display: none;
        z-index: 1;
        right: 5px;
        ul{
          background-color: $primary_color;
           li{
            padding: 20px;
            border-bottom: 1px solid #05164e;
            list-style: none;
            a{
              color: #ffffff;
              text-decoration: none;
            }
           }
        }
      }
      }
        .float_box{
          position: unset;
          display: flex;
          flex-wrap: wrap;
          width:$float_width;
          margin-left:$float_margin_left;
          .card{
            width:$card_width;
            margin-bottom:$card_bottom_margin;
            &_footer_text{
              word-break: break-all;
            }
          }
        }
        .container{
          display: inline;
          height: auto;
          &_text_block{
          &_title{
            text-align: center;
          }
          &_para{
            padding:20px;
          }
        }
          &_left_block{
            img{
              max-width: 100%;
              max-height: 100vh;
              margin: auto;
            }
          }
          &_right_block_menu{
            display:none;
          }
        }
     .we_work{
      top:$top;
      position: relative;
      .we_work_block-1{
          width: 0;
          display:none;
      }
      .we_work_block-2{
          width: 100%;
          &_para{
            p{
              padding: 20px;
            }
          }
          &_card_box{
            flex-direction: column;
          }
      }
      .we_work_block-3{
        width: 0;
          display:none;
      }
     }

     //footer
     footer{
       top:577%;
       position: relative;

       .footer_heading{
        margin-top: -60px;
         h2{
           span:after{
            left:$footer_title_span_left; 
            top: 84px;
           }
         }
       }
       .footer_menu_box{
         flex-direction: column;
         width:100%;
         .footer_left{
          flex-direction: column;
          width: 100%;
          .top_first{
            flex-direction: $flex_footer_top_first;
            width: 100%;
            .footer_left_menu{
              width: 100%;
            }
            .footer_middle_menu{
              width: 100%;
            }
          }
          .top_second{
            flex-direction: $flex_footer_top_second;
            .footer_social_icon_wrapper{
              width: 100%;
              .f_icon_title{
                margin-right: 0;
              }
            }
            .footer_social_img{
              width: 100%;
              text-align: center;
              margin-top: 20px;
              margin-left:0;
            }
          }
         }
         .footer_right_menu{
             width: 100%;
             padding:10px 12px;
             form{
              input[type=submit]{
                width: auto;
              }
             }
         }
       }
       .footer_bottom{
        top: $footer_bottom;;
       }
     }

        // how we work section
}


