@import "_mixin";
@import "_variable";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: $primary_color;
  .header_image {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    margin: 0 22px;
    .header_twitter_icon {
      @include header_icon();
    }
    .header_linkedin_iconn {
      @include header_icon();
    }
    .header_button {
      background-color: #fd731b;
      border: none;
      outline: none;
      margin: 3px 12px;
      padding: 5px 8px;
      color: #ffffff;
      border-radius: 3px;
    }
  }
}

.mobile_menu_icon{
    display: none;
}

section {
  display: flex;
}
.container {
  display: flex;
  flex: 50%;
  position: relative;
  &_left_block {
    img {
      background-size: 100% 100%;
    }
  }
  &_right_block {
    display: flex;
    flex-direction: column;
    &_menu {
      margin-top: 12px;
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 20px;
          a {
            text-decoration: none;
            color: #000000;
            font-family: Verdana, Geneva, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }
    }
  }

  &_text_block {
    &_title {
      padding: 20px;
      color: $primary_color;
    }
    &_para {
      padding: 10px 20px;
      padding-right: 54px;
      font-size: 20px;
      font-family: Calibri;
      text-align: justify;
    }
  }
}

.float_box {
  position: absolute;
  top: 88%;
  display: flex;
  left: 5%;
  width: 85%;
  padding: 60px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: -1px 1px 12px 1px #1f1d1d;
  margin-bottom: 1rem;
  .card {
    width: 20%;
    .card_footer_text {
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 20px;
      text-align: center;
      word-break: break-all;
     
    
    }

    .card_body {
      background:$card_body;
      font-size: 30px;
      font-weight: bolder;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 13px;
      text-align: center;
      .card_icon {
        font-size: 40px;
        color: #265396;
        padding: 10px;
        .fa{
          font-size: 50px;
        }
         
      }
      .card_text{
        color: $card_body;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #265396;
        font-size:50px;
        padding-top:20px;
        
      }
      &:hover {
        background-color: $hover_color;
        color: #ffffff;
        .card_text{
          color:$hover_color;
          -webkit-text-stroke-color: #ffffff;
        }
        .fa{
          
          color:#ffffff;
        }
      }
    }
  }
}

//desktop width

// mobile view
@media only screen and (min-width : 1280px) and (max-width : 1280px) {
.float_box{
    top:71%;
}
}

@media only screen and (min-width : 280px) and (max-width : 280px) {
  @include mobileView(100%,20px,5%,90vw);
}
@media only screen and (min-width : 320px)  and (max-width : 414px) {
  @include mobileView(100%,20px,10%,80vw);
}
@media only screen and (min-width : 540px) and (max-width : 540px) {
  @include mobileView(100%,20px,10%,80vw);
}
@media only screen and (min-width: 768px) and (max-width: 768px)  {
@include mobileView(47%, 20px, 10%,80vw);
}
