@import '_mixin';
@import '_variable';

*{
    margin:0;
    padding:0;
}

.main{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: $primary_color;
.header_image{
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    margin: 0 22px;
    .header_twitter_icon{
     @include header_icon();
    }
    .header_linkedin_iconn{
        @include header_icon();
    }
    .header_button{
        background-color: #fd731b;
        border: none;
        outline:none;
        margin: 3px 12px;
        padding: 5px 8px;
        color:#ffffff;
        border-radius: 3px;
    }
}

}

section{
    display:flex;
}
.container{
    display: flex;
    flex:50%;
    position: relative;
    &_left_block{
      img{
          background-size: 100% 100%;
      }
    }
    &_right_block{
        display: flex;
        flex-direction: column;
        &_menu{
            margin-top:12px;
            ul{
                display: flex;
               list-style: none;
               li{
                padding: 20px;
                a{
                    text-decoration: none;
                     color: #000000;
                     font-family: Verdana, Geneva, sans-serif;
                     text-transform: uppercase;
                     font-size: 14px;
                }
               }
            }
        }
    }

    &_text_block{
        &_title{
            padding: 20px;
            color:$primary_color;
        }
        &_para{
         padding: 10px 20px;
         padding-right: 54px;
        font-size: 20px;
        font-family: Calibri;
        text-align: justify;
        }
        
    }
}




.float_box{
    position: absolute;
    top: 88%;
    display: flex;
    margin-left:4%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 40px 20px;
    box-shadow:-1px 1px 12px 1px #1f1d1d;
    margin-bottom: 1rem;
    .card{
        
    flex:1;
       // display:flex;
       // flex-direction: column;
        //justify-content: center;
    .card_footer_text{
        font-size: 20px;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
    }
    margin: 32px;
    
    .card_body{
        background: #eae7e3;
        font-size: 30px;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding:4.5rem;
        border-radius: 5px;
        text-align: center;
    .card_icon{
    font-size: 40px;
    color: #265396;
    padding: 10px;
    }
    &:hover{
        background-color:orange;
        color:#ffffff;
    }
      }
    }
    }
