@import "_mixin";
@import "_variable";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}
.active{
  a{
    color: #ffffff !important;
  }
}

.main {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: $primary_color;
  .header_image {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    margin: 0 22px;
    .header_twitter_icon {
      @include header_icon();
    }
    .header_linkedin_iconn {
      @include header_icon();
    }
    .header_button {
      background-color: #fd731b;
      border: none;
      outline: none;
      margin: 3px 12px;
      padding: 5px 8px;
      color: #ffffff;
      border-radius: 3px;
    }
  }
}

.mobile_menu_icon{
    display: none;
}


.container {
  display: flex;
  flex: 50%;
  position: relative;
  &_left_block {
    img {
      background-size: 100% 100%;
    }
  }
  &_right_block {
    display: flex;
    flex-direction: column;
    &_menu {
      margin-top: 12px;
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 20px;
          a {
            text-decoration: none;
            color: #000000;
            font-family: Verdana, Geneva, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }
    }
  }

  &_text_block {
    &_title {
      padding: 20px;
      color: $primary_color;
    }
    &_para {
      padding: 10px 20px;
      padding-right: 54px;
      font-size: 20px;
      font-family: Calibri;
      text-align: justify;
      line-height: 1.5;
    }
  }
}

.float_box {
  position: absolute;
  top: 88%;
  display: flex;
  left: 5%;
  width: 90%;
  padding: 60px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: -1px 1px 12px 1px #1f1d1d;
  margin-bottom: 1rem;
  .card {
    width: 20%;
    .card_footer_text {
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 20px;
      text-align: center;
     
     
    
    }

    .card_body {
      background:$card_body;
      font-size: 30px;
      font-weight: bolder;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 13px;
      text-align: center;
      .card_icon {
        font-size: 40px;
        color: #265396;
        padding: 10px;
        .fa{
          font-size: 50px;
        }
         
      }
      .card_text{
        color: $card_body;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #265396;
        font-size:50px;
        padding-top:20px;
        
      }
      &:hover {
        background-color: $hover_color;
        color: #ffffff;
        .card_text{
          color:$hover_color;
          -webkit-text-stroke-color: #ffffff;
        }
        .fa{
          
          color:#ffffff;
        }
      }
    }
  }
}
.we_work{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 173%;
    position: absolute;
    width:100%;
  .we_work_block-1{
    width:20%;
     
  }
  .we_work_block-2{
    width:60%;
    .text_box_title{
      text-align: center;
      &_small{
           color:#FF9800;
           font-size: small;
           text-transform: uppercase;
           margin-bottom: 10px;
      }
      &_big{
        color:#000000;
        text-transform: uppercase;
        & span{
          display: inline-block;
          position: relative; 
          &:after{
            content: "";
            position: absolute;
            height: 10x;
            border-top: 2px solid #FF9800;
            top: 44px;
            left:32px;
            width: 147px;
          }
       
      }
       
      }
    }

    &_para{
      text-align: center;
      padding-top:30px;
      & p{
        line-height: 1.5;
      }

        }

    &_card_box{
       padding-top:30px;
       display: flex;
       justify-content: space-around;
       
       .we_work_block-2_card{
         display:flex;
         text-align: center;
         justify-content: center;
         flex-direction: column;
         margin: 20px;
         &_body{
          cursor: pointer;
          display: flex;
          justify-content: center;
           &_icon_box{
            width: 80px;
            height: 80px;
            padding: 20px;
            margin: 20px;
            background: #eaedf4;
            font-size: 40px;
            border-radius: 13px;
            transform: rotate(45deg);
            position: relative;
            display: flex;
            justify-content: center;
            
            .icon{
              position: relative;
              transform: rotate(-45deg);
              color:$primary_color;

            }
            &:hover{
              transform: rotate(0deg);
              background:$hover_color;
              .icon{
                transform: rotate(0deg);
                color: #ffffff;
              }
            }
           }
          // @include text_box_icon(20px, 20px,rotate(45deg),#ebedf4);
        
         }
         &_footer{
           text-align: center;
           h4{
               line-height: 3.2;
           }
           p{
            line-height: 1.5;
           }
         }
       }
    }
  }

  .we_work_block-3{
    width:20%; 
      }
    }

    footer{
      position: absolute;
      top: 268%;
      width: 100%;
      
      .footer_title_image{
        width: 0;
      height: 0;
      border-left: 49vw solid transparent;
      border-right: 49vw solid transparent;
      border-bottom: 100px solid $primary_color;
      width: 100%;
     
      }
      .footer_heading{
        color: #ffffff;
        margin-top: -77px;
        text-align: center;
        & h2 span:after{
          content: "";
          position: absolute;
          border-top: 2px solid #FF9800;
          top: 74px;
          left: 631px;
          width: 84px;
        }
      }
      .footer_menu_box{
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 100px;
        width: 100%;
        background-color:$primary_color;
        .footer_left_menu{
          img{
            width: 50%;
          }
         @include footer_menu_layout(flex-start);
         .footer_icon_body{
          display: flex;
          justify-content:flex-start;
          flex-direction: row;
           .footer_icon{
            color: #ffffff;
            padding: 20px;
            font-size: 31px;
                    &_text{
                      color: #ffffff;
                      padding: 20px 5px;
                      
                p{
                word-break: break-all;
                }
                    }
           }
         }
         
        }
        .footer_right_menu{
          @include footer_menu_layout(center);
          form{
            border-radius: 5px;
            padding: 20px;
            input[type=text], select {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
            
            input[type=submit] {
              width: 100%;
              background-color:$hover_color;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: $hover_color;
            }
            
          }
          
         }
         .footer_middle_menu{
          @include footer_menu_layout(center);
          p{
            color:#ffffff;
            padding:20px;
            font-size: 20px;
          }
          ul{
            padding-left: 15px;
             li{
              padding: 10px;
              list-style: none;
              
              a{
                color: #ffffff8c;
                text-decoration: none;
                font-size: 15px;
                
              }
             }
          }
          
         }
      }

    }
//desktop width

// mobile view
@media only screen and (min-width : 1280px) and (max-width : 1280px) {
.float_box{
    top:71%;
}
}

@media only screen and (min-width : 280px) and (max-width : 280px) {
  @include mobileView(100%,20px,5%,90vw,173%);
}
@media only screen and (min-width : 320px)  and (max-width : 414px) {
  @include mobileView(100%,20px,10%,80vw,429%);
}
@media only screen and (min-width : 360px)  and (max-width : 360px) {
  @include mobileView(100%,20px,10%,80vw,383%);
}
@media only screen and (min-width : 540px) and (max-width : 540px) {
  @include mobileView(100%,20px,10%,80vw,173%);
}
@media only screen and (min-width: 768px) and (max-width: 768px)  {
@include mobileView(47%, 20px, 10%,80vw,173%);
}
